.secret__textarea {
  border: none;
  height: auto;
  resize: none;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  background-color: inherit;
  padding: 5px;
}

.secret__textarea::placeholder {
  color: #ccc;
}